.body{
    background: black;
}

#bountyContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px; 
    padding: 20px;
}


.bounty-box {
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 190px;
    position: relative;
    background-image: url('/images/bountyPaper.png');
    background-size: contain;
background-repeat: no-repeat;
}


.bounty-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
    font-family: WBOZ;
    color: #944818;
    margin-top: 5px;
    margin-left: .5rem;
    margin-right: .5rem;
    text-decoration: underline;
}

.bounty-description {
    color: #944818;
    font-weight: bold;
    margin-left: .5rem;
    margin-right: .5rem;
}


.bounty-prize {
    position: absolute;
    left: 1rem;
    bottom: -5px;
    font-weight: bold;
    font-family: WBOZ;
    color: #ed471d;
    width: calc(100% - 20px);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}


.bounty-claimer {
    position: absolute;
    bottom: 75px;
    width: calc(100% - 20px);
    font-size: 20px;
    font-weight: bold;
    color: #131212;
    transform: rotate(40deg);
    white-space: normal;
    text-align: center;
    max-height: 154px;
    max-width: 187px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    overflow: hidden;
}


#sortDropdown {
    margin: 10px 0;
    padding: 5px;
}

@font-face {
    font-family: 'WBOZ'; /*a name to be used later*/
    src: url('/fonts/The Wild Breath of Zelda.otf'); /*URL to font*/
}