body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.main-container-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  margin-top: 70px;
}

.button-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    max-width: 95vw;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vw;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.portfolio-button {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-weight: 600;
  font-size: 18px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1200px;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    background-color: #f9f9f9;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

}

.small-card-header {
    margin: 0px 0 -10px 0;
    text-decoration: underline #b892ff;
    text-decoration-thickness: 3px;
    padding: 3px;
}

h2 {
    margin: 0 0 10px 0;
}

.small-card-text {
  text-align: center;
}

.large-card-text {
  text-align: left;
}

.other-container {
    visibility:hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.large-card-image {
  width: 60vw;
  max-width: 100%;
}

/* Special shimmery border */
.special {
    --borderWidth: 4px;
  /*background: #1D1F20;*/
  position: relative;
  border-radius: var(--borderWidth);
}

.special:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* Revert to normal */
.not-special {
    border: none;
    box-shadow: none;
    animation: none;
    background: lightgrey;
}

/* Styles for the detailed card */
.detailed-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  max-height: 80%;
  overflow-y: auto;
  min-width: 300px;
}

.detailed-card h2 {
    text-decoration: underline #b892ff;
    text-decoration-thickness: 3px;
    margin-top: 0;
}

.detailed-card-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    .content-container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
        padding-right: 10px;
    }
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
}

.skill-tag {
  border-radius: 25px;
  padding: 7px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.skill-tag-js {
  background-color: #f7df1e;
  color: #000000;
}

.skill-tag-ahrefs {
  background-color: #054ada;
  color: #ff8800;
}

.skill-tag-screamingfrog {
  background-color: #72b62b;
  color: #ffffff
}

.skill-tag-semrush {
  background-color: #ff622d;
  color: #000000;
}

.skill-tag-yoast {
  background-color: #a4286a;
  color: #ffffff
}

.skill-tag-moz {
  background-color: #24abe2;
  color: #ffffff;
}

.skill-tag-googleanalytics {
  background-color: #e37400;
  color: #ffffff;
}

.skill-tag-googletag {
  background-color: #4285f4;
  color: #ffffff
}

.skill-tag-wordpress {
  background-color: #32373c;
  color: #ffffff;
}

.skill-tag-html {
  background-color: #e44d26;
  color: #ffffff;
}

.skill-tag-css {
  background-color: #264de4;
  color: #ffffff
}

.skill-tag-twig {
  background-color: #bccf27;
  color: #ffffff;
}